body {
    height: 100svh;
    width: 100svw;
    overflow: hidden;

    background-image: url(../images/background2.png);
    background-size: 100% 100%;
}

@keyframes example {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.tec-title {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 3em;
    color: red;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#back {
    position: absolute;
    top: 10%;
    left: 0.5%;
    width: 90px;
}
.main-container {
    width: 80%;
    height: 95%;
    background-color:#fc4140;
    border-radius: 10px;
    opacity: 0.95;
    border: 1px solid black;
}

.main-heading {
    color: black;
    font-size: 4em;
}
.main-text{
    margin-top: 3%;
    font-size: 2.3em;
    width: 80%;
    line-height: 120%;
    color: black;
}
.link {
    height: 30%;
    width: 100%;
}

.play {
    position: absolute;
    /* right: 3%;
    top: 75%; */
    width: 6%;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .task-button {
        width: 40%;

    }

    #back {

        width: 8%;

    }

}

@media screen and (max-width: 768px) {
    .tec-title {
        font-size: 1.5em;
        z-index: 2;
    }

    .task-button {
        width: 50%;

    }

    .task-button h1 {
        font-size: 1.5em;
    }

    #back {

        width: 10%;

    }

}

@media screen and (max-width: 468px) {
    .tec-title {
        font-size: 1.3em;
        z-index: 2;
    }

    #back {
        z-index: 2;
    }

    .main-container {
        height: 100%;
        width: 100%;
    }

    .task-button {
        width: 95%;
    }

    .task-button h1 {
        font-size: 1.4em;
    }

    .main-heading {
        font-size: 3em;
    }

}